<%- include('../../partials/header.ejs') %>

    <div class="container my-container my-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card col-md-6 col-sm-8 col-11 col-lg-6">
                <div class=" card-header mb-3">
                    <h4>Login Your Account</h4>
                </div>
                <div class="">
                    <form action="/auth/login" method="POST">
                        <div class="form-group">
                            <label for="email">Enter your Email Address</label>
                            <input type="email" name="email" id="email"
                                class="form-control <%= error.email ? 'is-invalid': ''%>">
                            <div class="invalid-feedback">
                                <%= error.email && error.email %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Enter A Strong Password</label>
                            <input type="password" name="password" id="password"
                                class="form-control <%= error.password ? 'is-invalid': ''%>">
                            <div class="invalid-feedback">
                                <% error.password && error.password %>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Login">
                   
                    </form>

                    <a href="/auth/signup" class="my-3 acc_link text-center"> Don't have an Account? Create One</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs', ) %>

        </body>

        </html>